
<table class="striped">
    <thead>
        <tr>
            <th data-field="id">Questão</th>
            <th data-field="name">Dificuldade</th>
            <th data-field="price">% de acerto</th>
        </tr>
    </thead>
    <tbody id="tbody_questoes_simulado">
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>.87</td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>.76</td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>.00</td>
        </tr>
    </tbody>
</table>

<script defer src="js/dialog_simulado_dados.js"></script>