<form id="form_turma">
    <div class="row">
        <!-- Nome -->
        <div class="input-field col s6">
            <input name="nome" type="text" id="nome_turma" class="validate">
            <label for="nome_turma">Nome da turma</label>
        </div>
    </div>

    <!-- Botão Turma -->
    <div class="row">
        <button class="btn waves-effect waves-light right" type="submit">Criar turma
            <i class="material-icons right">send</i>
        </button>
    </div> <!-- Botão Turma -->
</form>

<script src="js/dialog_nova_turma.js"></script>