<div class="row">
    <!-- Nome -->
    <div class="input-field col s12">
        <input name="nome" type="text" id="nome_turma" class="validate">
        <label for="nome_turma">Nome da Turma</label>
    </div>
</div>

<table class="highlight">
    <thead>
        <tr>
            <th data-field="nome">Nome</th>
            <th data-field="professor">Professor</th>
            <th data-field="acao"></th>
        </tr>
    </thead>
    <tbody id="tbody_turma">
    </tbody>
</table>

<script src="js/dialog_pesquisar_turmas.js"></script>