
<div class="row">
    <!-- Nome -->
    <div class="input-field col s6">
        <input name="nome" type="text" id="nome_simulado" class="validate">
        <label for="nome_simulado">Nome da Prova</label>
    </div>

    <p class="range-field col s6">
        <input type="range" id="slider" min="0" max="100" />
    </p>
</div>

<div class="input-field col s6">
    <select id="select_turma">
      <option value="" disabled selected>Escolha a turma</option>
    </select>
    <label>Turma</label>
</div>

<button class="btn waves-effect waves-light" type="submit" name="action" id="btnCriarProva">CRIAR
    <i class="material-icons right">send</i>
</button>

<script src="js/dialog_nova_prova.js"></script>