<h4> Turmas que você está matriculado </h4>
<table class="highlight striped">
    <thead>
        <tr>
            <th data-field="nome">Nome</th>
            <th data-field="professor">Professor</th>
            <th data-field="acao"></th>
        </tr>
    </thead>
    <tbody id="tbody_aluno_turmas"></tbody>
</table>

<script src="js/tabela_aluno_turmas.js"></script>