<h4> Suas turmas </h4>
<table class=" highlight striped">
    <thead>
        <tr>
            <th data-field="nome">Nome</th>
            <th data-field="alunos">Alunos</th>
        </tr>
    </thead>
    <tbody id="tbody_professor_turmas"></tbody>
</table>

<script src="js/tabela_professor_turmas.js"></script>