<h4> Simulados </h4>
<table class=" highlight striped">
    <thead>
        <tr>
            <th data-field="nome">Nome</th>
            <th data-field="turma">Turma</th>
        </tr>
    </thead>
    <tbody id="tbody_professor_simulados"></tbody>
</table>

<script src="js/tabela_professor_simulados.js"></script>